html, body{
    height: 100%;
    width: 100%;
    margin: 0px;
    padding: 0px;
}

canvas{
	background-color: black;
	height: 100%;
	width: 100%;
}

p{
	margin-left: 1em;
	margin-right: 1em;
}

.inDepth{
	margin-left: 2em;
	height: auto;
	max-height: 0;
	transition: 1s;
	overflow-y: hidden;
}

.toggler{
	text-shadow: 0 0 5px blue;
	transition: 500ms;
}

.toggler:hover, .toggler:focus{
	text-shadow: 0px 3px 5px fuchsia;
}

.focusAlert{
	color: #8a0000;
	font-style: italic;
}

.logEntry{
	border: thin solid;
}

.h2Button{
	background: none!important;
	border: none;
	padding: 0!important;
	font-weight: bold;
	font-size: 1.5em;
}

.h3Button{
	background: none!important;
	border: none;
	padding: 0!important;
	font-weight: bold;
	font-size: 1.17em;
}

.blackBorder{
	color:white;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}

#changeLog{
	padding: 1em;
	border: solid;
}

#changeLog h2{
	margin-bottom: 3em;
}

#shadowExample{
	text-shadow: 0 0 5px blue;
}

#shadowExample2{
	text-shadow: 0px 3px 5px fuchsia;
}

#acknowledgements ul li{
	margin-top: 1em;
}

#acknowledgements ul li p{
	margin-top: 0;
}

#loadingScreen{
	position: absolute;
	display: flex;
	justify-content: center;
	align-items: center;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100vh;
	text-align: center;
	z-index: 2;
	background-image: radial-gradient(rgb(50, 50, 50), #000000);
	color: white;
}

.infoBar{
	position: absolute;
	top: 0;
	left: 0;
	width: 25vw;
	height: 100vh;
	color: white;
	z-index: 100;
	overflow-y: none;
	font-size: 1.5rem;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
	display: none;
}

#info, #console, #errors{
	overflow: scroll;
	margin-left: 1em;
	font-size: 1rem;
}

#console, #errors{
	max-height: 20vh;
}

#errors{
	color: red;
}