body {
    background: linear-gradient(to bottom left, black, rgb(50, 50, 50));
    background-repeat: no-repeat;
    background-attachment: fixed;
    color: white;
    overflow: hidden;
}

ul{
    position: relative;
    top: 20%;
    left: 40%;
    font-size: 20px;
}

a {
    position: relative;
    top: 5px;
    left: 45%;
    color: blue;
    text-decoration: none;
    text-align: center;
    font-size: 40px;
}

a:hover {
    text-decoration: underline;
}

h1{
    text-align: center;
}